/*Font style*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Shared style starts here*/

body {
    font-family: "Mulish", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

.mobile-responsive {
    display: none;
}

/*Shared style ends here*/
/*Header section start here */

.header-section {
    max-width: 1920vw;

}

.nav-container {

    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}

.brand-name {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.nav-item {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}

.banner-section {

    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


}

.banner-content {
    width: 60%;
}

.banner-title {
    color: rgb(58, 58, 58);
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;


}

.banner-description {
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}

.button {
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;

}

.banner-img {
    width: 30%;
    background-image: url("./images/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 2px dashed #b3adad;
    text-align: center;
}

.banner-img img {}

.main-container {
    width: 80%;
    margin: 70px auto;
}

.sponsor-company {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

/*Popular-Collection section starts here*/
.all-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.popular-img {
    width: 100%;
    border-radius: 10px;
}

.Popular-Collection-title {
    color: rgb(58, 58, 58);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}

.Popular-Collection-item {

    padding: 15px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px;
}

.device-name {
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 500;
    padding: 15px 0;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}


.description {
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
}

.Featured-products {
    display: flex;
    margin: 100px auto;
}

.Featured-products-img {
    width: 50%;
}

.products-img {
    width: 100%;
}

.Featured-products-text {
    margin: 50px;
    padding-left: 50px;
}

.Featured-products-title {
    color: rgb(10, 8, 38);
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}

.Featured-products-description {
    color: rgb(108, 108, 108);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.Featured-products-button {
    width: 155px;
    height: 44px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    border: none;
}


.footer-content { 
    background: #0A0826;
    padding: 100px;
    text-align: center;

}

.footer-text {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 15px;
}

small {
    color: rgb(217, 219, 225);
    font-size: 20px;
    font-weight: 700;

}

footer span {
    background: rgb(255, 255, 255);
    margin-right: 18px;
  
    

}

/*Responsive for small devices*/


@media screen and (max-width: 576px) {
    .mobile-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-container {
        display: none;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
        width: 100%;
    }

    .banner-title {
        color: rgb(58, 58, 58);
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .banner-img {
        width: 80%;
        margin: 15px auto;
    }

    .banner-img img {
        width: 100%;
    }

    .sponsor-company {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .all-collection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .Featured-products {
        flex-direction: column-reverse;
        width: 90%;

    }

    .Featured-products-text {
        margin: 0 auto;
        padding: 0;
        text-align: center;

    }

    .Featured-products-img {
        width: 100%;
        padding-top: 25px;
    }
    .footer-text {
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 15px;
    }
    
    small {
        color: rgb(217, 219, 225);
        font-size: 13px;
        font-weight: 700;
    }

    .footer-content { 
        padding: 60px;
    }

}